.input-file {
  opacity: 0;
  display: block;
  margin: 0 auto;
}
label {
  margin: 10%;
  width: 80%;
  height: 40px;
}
.upload {
  position: relative;
  height: 25vh;
  width: 28vw;
  margin: 20px auto;
  padding: 20px;
}

.upload-button {
  width: 80%;
  margin: 0;
}

.erase-button {
  left: 50%;
  transform: translateX(-50%);
}

.send-button{
  transform: scale(1.6);
}

.upload-main {
  display: flex;
}

.upload-icon-wrapper {
  top: 4vw !important;
  left: 2vw !important;
}

.upload-icon-wrapper,
.upload-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.upload ol {
  padding-left: 0;
}

.upload li,
div > p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  list-style-type: none;
}

.upload img {
  order: 1;
}

.upload p {
  line-height: 32px;
  padding-left: 10px;
  text-align: center;
}

li > img {
  height: 100%;
  width: 20%;
}
li > p {
  display: block;
  width: 80%;
  height: 100%;
  font-size: 14px;
  margin: auto auto;
}
